[[define "QRCode"]]
<!-- No QR code available -->
[[end]]
[[define "main_layout"]]
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[template "title" .]]</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css">

    <!-- development only -->
    <!-- https://tailwindcss.com/docs/installation/play-cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>


  <body class="bg-gray-100">
    <div class="bg-gray-50 py-12 sm:py-24">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-center text-base/7 font-semibold text-gray-500">kairos.io</h2>
      <p class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">More than an <span class="text-orange-600">edge OS</span></p>
            [[template "body" .]]
    </div>
  </div>
    [[template "page-javascript" .]]
  </body>
</html>
[[end]]
