[[define "QRCode"]]
<!-- No QR code available -->
[[end]]
[[define "main_layout"]]
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[template "title" .]]</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css">

    <!-- development only -->
    <!-- https://tailwindcss.com/docs/installation/play-cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 text-white flex justify-center min-h-screen">
    <div class="w-full lg:w-1/2 p-4">
      <header class="mb-8">
        <div class="flex items-center justify-between">
          <!-- Logo Section -->
          <div class="flex-1 flex justify-center">
            <img src="/assets/images/logo.png" alt="Logo" class="w-80 object-contain">
          </div>

          [[template "QRCode" .]]
        </div>
      </header>

      <main class="space-y-4">
        <div class="bg-gray-800 p-4 rounded shadow-md">
          [[template "body" .]]
        </div>
      </main>
    </div>

    [[template "page-javascript" .]]
  </body>
</html>
[[end]]
